<div class="w-50 pt-3 pb-2 mb-5 mx-auto text-center text-light">
      <h1 class='pb-2 shadow-title'> <span class="text-danger font-weight-bold">VALORANT</span> Fiche Agents et des Maps</h1>
      <p class="shadow-title">Utilisez ce site Web pour en savoir plus sur les agents et les maps de Valorant.</p>
  </div>
  <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" id="btn-classes" class="btn btn-dark shadow">Toutes les Classes</button>
    <button type="button" id="btn-initiator" class="btn btn-dark shadow" data-toggle="tooltip" data-placement="top" title="Initiateur"><img width="16px" src="agents/initiator.svg"></button>
    <button type="button" id="btn-controller" class="btn btn-dark shadow" data-toggle="tooltip" data-placement="top" title="Contrôleur"><img src="agents/controller.svg"></button>
    <button type="button" id="btn-sentinel" class="btn btn-dark shadow" data-toggle="tooltip" data-placement="top" title="Sentinelle"><img src="agents/sentinel.svg"></button>
    <button type="button" id="btn-duelist" class="btn btn-dark shadow" data-toggle="tooltip" data-placement="top" title="Duelliste"><img src="agents/duelist.svg"></button>
  </div>
  <div class="container mt-2 pt-3 px-5 ">
    <div class="row justify-content-around pb-5 px-5">
        <div class="col-xl-2 mb-3 text-center border-bottom border-breach border-3 shadow-lg char-zoom rounded initiator">
            <a asp-controller="Home" asp-action="Personnage"> <img class="" height="200px" src="" alt=""> </a> <!-- agents/breach_m.png -->
        </div>
        <div class="col-xl-2 mb-3 text-center border-bottom border-brimstone border-3 shadow-lg char-zoom rounded controller">
            <a asp-controller="Home" asp-action="Personnage"> <img class="" height="200px" src="" alt=""> </a> <!-- agents/brimstone_m.png -->
        </div>
        <div class="col-xl-2 mb-3 text-center border-bottom border-cypher border-3 shadow-lg char-zoom rounded sentinel">
            <a asp-controller="Home" asp-action="Personnage"> <img class="" height="200px" src="" alt=""> </a> <!-- agents/cypher_m.png -->
        </div>
        <div class="col-xl-2 mb-3 text-center border-bottom border-white border-3 shadow-lg char-zoom rounded duelist">
            <a asp-controller="Home" asp-action="Personnage"> <img class="" height="200px" src="" alt=""> </a> <!-- agents/jett_m.png -->
        </div>
        <div class="col-xl-2 mb-3 text-center border-bottom border-killjoy border-3 shadow-lg char-zoom rounded sentinel">
            <a asp-controller="Home" asp-action="Personnage"> <img class="" height="200px" src="" alt=""> </a> <!-- agents/killjoy_m.png -->
        </div>
      <div class="w-100 not-class"></div>
      <div class="col-xl-2 mb-3 text-center border-bottom border-sage border-3 shadow-lg char-zoom rounded controller">
          <a asp-controller="Home" asp-action="Personnage"> <img class="" height="200px" src="" alt=""> </a> <!-- agents/omen_m.png -->
      </div>
      <div class="col-xl-2 mb-3 text-center border-bottom border-phoenix border-3 shadow-lg char-zoom rounded duelist">
          <a asp-controller="Home" asp-action="Personnage"> <img class="" height="200px" src="" alt=""> </a> <!-- agents/phoenix_m.png -->
      </div>
      <div class="col-xl-2 mb-3 text-center border-bottom border-raze border-3 shadow-lg char-zoom rounded duelist">
          <a asp-controller="Home" asp-action="Personnage"> <img class="" height="200px" src="" alt=""> </a> <!-- agents/raze_m.png -->
      </div>
      <div class="col-xl-2 mb-3 text-center border-bottom border-reyna border-3 shadow-lg char-zoom rounded duelist">
          <a asp-controller="Home" asp-action="Personnage"> <img class="" height="200px" src="" alt=""> </a> <!-- agents/reyna_m.png -->
      </div>
      <div class="col-xl-2 mb-3 text-center border-bottom border-sage border-3 shadow-lg char-zoom rounded sentinel">
          <a asp-controller="Home" asp-action="Personnage"> <img class="" height="200px" src="" alt=""> </a> <!-- agents/sage_m.png -->
      </div>
      <div class="w-100 not-class"></div>
      <div class="col-xl-2 mb-3 text-center border-bottom border-skye border-3 shadow-lg char-zoom rounded initiator">
          <a asp-controller="Home" asp-action="Personnage"> <img class="" height="200px" src="" alt=""> </a> <!-- agents/skye_m.png -->
      </div>
      <div class="col-xl-2 mb-3 text-center border-bottom border-primary border-3 shadow-lg char-zoom rounded initiator">
          <a asp-controller="Home" asp-action="Personnage"> <img class="" height="200px" src="" alt=""> </a> <!-- agents/sova_m.png -->
      </div>
      <div class="col-xl-2 mb-3 text-center border-bottom border-success border-3 shadow-lg char-zoom rounded controller">
          <a asp-controller="Home" asp-action="Personnage"> <img class="" height="200px" src="" alt=""> </a> <!-- agents/viper_m.png -->
      </div>
    </div>
</div>